<div class="page-header">
<h1>Editar derivacion</h1>
</div>

<div class="row">
<%= render 'form' %>

<%= link_to 'Ver detalles', @derivacion %> |
<%= link_to 'Volver al listado', derivacions_path %>
</div>