<div class="alert-message error">
	<h2>Se han encontrado <%= pluralize(errors.count, "error") %> :</h2>
	<a class="close" href="#">×</a>
	<p>
		<ul>
			<% errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</p>
</div>
